/*****************
  BIG GRADIENT   
******************/

.big-gradient {
  background: linear-gradient(
    229deg,
    #fff1eb,
    #75d2ff,
    #b2acf9,
    #75d2ff,
    #b2acf9,
    #75d2ff,
    #b2acf9,
    #75d2ff
  );
  background-size: 2000% 1000%;

  -webkit-animation: big-gradient-crawl 30s ease infinite;
  -moz-animation: big-gradient-crawl 30s ease infinite;
  animation: big-gradient-crawl 30s ease infinite;
}

@-webkit-keyframes big-gradient-crawl {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@-moz-keyframes big-gradient-crawl {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@keyframes big-gradient-crawl {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
