@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'utilities.scss';

$soft-black: #282828;
$light-peach: #fff8f5;
$blue: #75d2ff;
$purple: #b2acf9;
$radius-one: 1em;

$glass-no-blur: linear-gradient(
  -45deg,
  rgba(255, 255, 255, 0.16) 30%,
  rgba(255, 255, 255, 0.64) 100%
);

$glass-border: linear-gradient(
  -45deg,
  rgb(255, 255, 255, 0.8) 30%,
  rgb(255, 255, 255, 0.2) 70%
);

@mixin glass-back-1 {
  background: $glass-no-blur;
  backdrop-filter: blur(100px);
}

@mixin glass-back-2 {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.5) 80%
  );
  backdrop-filter: blur(100px);
}

@mixin big-font-1 {
  color: $soft-black;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 115%;
  letter-spacing: 0.03em;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cutout-gradient {
  background: linear-gradient(200deg, #b6e7ff, #ffffff, #d5d1ff);
  background-size: 180%;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*****************
      GLOBAL   
******************/

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  color: $soft-black;
}

a {
  text-decoration: none;
  color: $light-peach;
}

/*****************
      NAVBAR   
******************/

header {
  padding: 0.75em 1.5em;
  background: $soft-black;
  color: $light-peach;
}

nav ul {
  align-items: baseline;
}

nav {
  position: absolute;
  text-align: right;
  padding: 1.5em 1.5em 0.75em 0em;
  background-color: $soft-black;
  right: 0;
  width: 100%;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.6s ease-in-out;
  z-index: 900;
}

nav li {
  margin-bottom: 1em;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.navbar-name {
  font-family: 'Montserrat';
  display: inline;
  margin: 0.5em 0em;
  font-size: 1.625rem;
  @include cutout-gradient();
}

.nav-toggle {
  top: 0.5em;
  float: right;
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav li {
  transform: scale(1, 1);
  opacity: 1;
  transition: opacity 300ms ease-in-out 250ms;
}

.nav-toggle-label {
  color: $light-peach;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1.5em;
  height: 3.8em;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  position: relative;
  background: $light-peach;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
  transition: transform 0.4s ease-in-out, bottom 0.2s ease-in-out 0.4s;
}

.nav-toggle-label span::after {
  top: 8px;
  transition: transform 0.4s ease-in-out, top 0.2s ease-in-out 0.4s;
}

.nav-toggle:checked ~ label span {
  background: transparent;
}

.nav-toggle:checked ~ label span:before {
  transform: rotate(-135deg);
  bottom: 0;
  transition: transform 0.4s ease-in-out 0.2s, bottom 0.2s ease-in-out;
}

.nav-toggle:checked ~ label span:after {
  transform: rotate(135deg);
  top: 0;
  transition: transform 0.4s ease-in-out 0.2s, top 0.2s ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}
.nav-toggle:checked ~ .nav-toggle-label:hover {
  transform: rotate(90deg);
}

.nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  background: $soft-black;
  color: $light-peach;
  padding: 0;
}

/*****************
   LANDING PAGE   
******************/

.landing-top-block-wrapper {
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-quote {
  text-align: center;
  @include big-font-1();
  max-width: 5em;
}

.chevron-container {
  height: 7em;
}

.chevron-down {
  position: relative;
  background-color: whitesmoke;
  color: $soft-black;
  padding: 0.5em;
  border-radius: 50%;
  bottom: 0;
  animation: UpDownChevron 2s ease-in-out infinite;
}

@keyframes UpDownChevron {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.landing-btn-container {
  height: 415px;
  @include glass-back-1;
}

.button-one {
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: $soft-black;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.5em 1.25em;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.button-one:hover,
.button-one:focus {
  background-color: whitesmoke;
  color: $soft-black;
}

/*****************
    LOGIN PAGE   
******************/

.login-form {
  margin: 0 auto;
  margin-top: 8em;
  max-width: 16em;
  height: 10em;
  text-align: center;
  border-radius: $radius-one;
  @include glass-back-2();
}

.spotify-logo {
  height: 5em;
  width: 5em;
  position: relative;
  top: -2.5em;
  @include glass-back-2();
  border-radius: 50%;
}

.button-two {
  font-family: 'Montserrat';
  font-weight: 600;
  background-color: $soft-black;
  color: whitesmoke;
  font-size: 1.25rem;
  padding: 0.5em 1.25em;
  border-radius: 30px;
  position: relative;
  top: 0.5em;
  transition: all 0.3s ease-in-out;
}

.button-two:hover,
.button-two:focus {
  background-color: whitesmoke;
  color: $soft-black;
}

/*****************
    PLAYLISTS   
******************/

.playlists-container {
  text-align: center;
}

.playlists-title {
  width: 17rem;
  margin: 2em auto 2em auto;
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 140%;
}

.playlist-name {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: $soft-black;
  letter-spacing: 2px;
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.single-playlist {
  margin: 1em auto;
  width: 16em;
  height: 3.5em;
  @include glass-back-2();
  border-radius: 2em;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.33em 0 1.5em;
}

.playlist-add {
  @include glass-back-2();
  color: $soft-black;
  height: 3.5em;
  width: 3.5em;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-playlist-pill {
  margin: 1em auto;
  width: 16em;
  height: 3.5em;
  @include glass-back-2();
  border-radius: 2em;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.33em 0 1.5em;
}

.new-playlist-input {
  font-size: 1rem;
  width: 8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: $soft-black;
  border: none;
  border-radius: 2em 0 0 2em;
  margin-left: 0.25em;
  background: transparent;
}

.new-playlist-button {
  width: 5rem;
  height: 3rem;
  padding: 0;
  font-weight: 900;
  font-size: 0.75rem;
  font-weight: 500;
  @include glass-back-2();
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 0 2em 2em 0;
}

#button-override {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  color: $soft-black;
}

.new-playlist-input::placeholder {
  color: rgba(44, 44, 44, 0.329);
  font-size: 1rem;
  font-weight: 500;
}

/*****************
    PLAYER PAGE   
******************/

.player-page-container {
  height: 40em;
}

.now-playing {
  padding: 0.75em 0;
  text-align: center;
  font-weight: 300;
  background-color: #f0f0f0d2;
  color: #363636;
}

.player {
  @include glass-back-2();
  margin-top: 4em;
  margin-bottom: 2em;
  border-radius: $radius-one;
  border: $glass-border;
}

.player-artist {
  margin: 1.5rem 0 0 1.5rem;
}

.player-song {
  margin: 0 0 1.5rem 1.5rem;
}

.player-crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15rem;
}

.player-album-cover {
  margin: 0 1em 2em 1em;
  height: 17em;
  width: 17em;
}

.player-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.player-btn {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1em;
  margin: 0 1em 0 1em;
}

/*****************
     ABOUT  
******************/

.about-title {
  @include big-font-1;
  text-align: center;
  margin: 2em auto 1.5em auto;
  width: 14rem;
}

.about-container {
  margin: 2em auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 30em;
}

.team-member {
  height: 8rem;
  width: 8rem;
  margin: 0.625em;
  padding: 1em;
  border-radius: $radius-one;
  @include glass-back-2();
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team-member-name {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  letter-spacing: 3px;
}

.about-link {
  height: 2.25em;
  width: 2.25em;
}

.about-link-container {
  height: 2.25em;
  width: 2.25em;
  @include glass-back-2();
  color: rgba(46, 46, 46, 0.795);
  padding: 0.75em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.4em;
}

// .alfred-img {
//  background-image: url('./images/user-img.jpg') no-repeat center center fixed;
//  background-size: cover;
// }

// .azriel-img {

// }

// .spencer-img {

// }

// .gabriel-img {

// }

/*****************
     FOOTER   
******************/

footer {
  background-color: $soft-black;
  color: $light-peach;
  padding: 2em 2.25em;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 230%;
}

.footer-github {
  color: $soft-black;
  background-color: $light-peach;
  padding: 0.625em;
  border-radius: 50%;
}

.footer a {
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

/*****************
    AUXILIARY  
******************/

.not-found-container {
  display: flex;
  justify-content: center;
}

.not-found-code {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 7rem;
  margin-bottom: 0;
  margin: 4rem auto;
  padding: 1rem 2rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  mix-blend-mode: multiply;
}

.rdr-chart {
  display: flex;
  justify-content: center;
  margin: 1em;
  transition: opacity 0.4s ease;
}
